
nav{
    opacity: 0.8;
    height: 4em;
  
  }
  
  
  
  nav a {
    color: black;
    text-decoration: none;
    padding: 2px;
    font-size: 120%;
  
  }
  
  nav li {
    display: inline-block;
    float: right;
    list-style-type: none;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
  
  }
  
  
  h2{
    color: #EA638C;
    font-size: 200%;
    padding: 20px;
  
  
  }
  .long h3{
  padding: 10px;;
  border-left:2px  #EA638C solid;
  margin: 10px;
  font-size: 150%;
  
  }
  .grey-section{
  background-color: rgba(214, 212, 212, 0.479);;
  }
  
  .mobile-desktop{
    width: 100%;
    padding: 15px;
  
  }
  .home p{
  font-size: 24px;
  margin-left: 50px;
  }
  
  .img1{
    height: 40%;
    width: 50%;
  }
  
  
  .img2{
    height: 20%;
    width:40%;
  }
  
  
  .left{
    float: left;
    font-size: 120%;
  }
  
  /* .about-writing p{
    font-size: 130%;
  } */
  .work-intro h1{
    color:  #EA638C ;
    text-align: left;
    text-decoration: none;
    margin: 70px;
    font-size: 110%;
    font-family: 'Montserrat';
  }
  .work-intro img{
    width: 16%;
    height: 16%;
    margin-left: 55px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  
  }
  .work-intro p{
  font-size: 100%;
  }
  
  
  .project-cards{
  /* margin: 0 auto;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 75px;
  /* align-items: center;
  justify-content: center; */
  margin-left: 80px;
  }
  
  .project-cards img{
    width: 450px;
    height: 200px;
    }
  
  
  .card1{
    padding:0px;
    width: 50%;
    flex: 1;
  
  }
  .card2{
    padding: 0px;
    width: 50%;
    flex: 1;
  }
  
  .sketches{
    display: flex;
    flex-direction: row;
    width:100%;
  }
  
  .sketch1{
    width:50%;
    height:50%;
  }
  
  .sketch2{
    width:50%;
    height:50%;
  }
  
  .sketch3{
    width:50%;
    height:50%;
  }
  
  
  .sketch4{
    width:50%;
    height:50%;
  }
  
  
  
  
  
  .work-intro b{
    color: #EA638C;
  }
  
  .projects{
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .projects h3{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 150%;
  }
  
  .projects p{
    display: flex;
    justify-content: center;
  }
  
  .project1{
  background-color:   rgba(214, 212, 212, 0.479);
  padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 90%;
    width: 90%;
    border:2px rgba(73, 70, 70, 0.2) groove;
  
  
  }
  
  .project2{
    background-color: rgba(214, 212, 212, 0.479);
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 90%;
    width: 90%;
    border:2px rgba(73, 70, 70, 0.2) groove;
  
  }
  
  .project3{
    background-color: rgba(214, 212, 212, 0.479);
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 80%;
    width: 90%;
    border:2px rgba(73, 70, 70, 0.2) groove;
  
  }
  
  .project4{
    background-color: rgba(214, 212, 212, 0.479);
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 80%;
    width: 90%;
    border:2px rgba(73, 70, 70, 0.2) groove;
  
  }
  
  .project1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
  }
  
  .project2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    width: 70%;
    height: 70%;
  
  }
  
  
  .project3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    width: 50%;
    height: 40%;
  
  }
  
  .project4 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    width: 50%;
    height: 40%;
  
  }
  
  
  .projectlink{
    text-decoration: none;
    color: black;
    font-size: 150%;
    display: flex;
    justify-content: flex-end;
  }
  
  .projectlink:hover{
    text-decoration: underline;
    font-size: 170%;
    cursor: pointer;
  }
  .overview{
  
    padding: 10px;
  }
  
   .overview b{
  
    font-size: 110%;
   }
  
  
  .about b{
    color: #EA638C;
    font-size: 200%;
  }
  
  .about img{
    border-radius: 60%;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }
  
  
  
  
  
  .interviews img{
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  
  .card-sorting img{
    width: 100%;
    height: 100%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .hidden{
  
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  
  }
  
  
  
  
  
  
  
  
  
  
  footer li{
    display: inline-block;
    list-style-type: none;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-top: 1em;
  
  }
  
  .resume-img img{
    width: 100%;
    height: 100%;
  }
  
  /* .grow-give-case img{
    width: 100%;
    height: 100%;
  } */
  
  
  
  
  
  footer a{
    color: black;
  }
  
  footer{
    border-top: 4px #EA638C solid;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
  
  }
  iframe{
    display: block; 
    width: 100%; 
    height: 100vh;
    border: none; 
    overflow-y: auto;
    overflow-x: hidden;
  }
  footer address{
  padding-top: 20px;
  }

  .paper-img img{
    width:400px;
    height: 500px;
    border:2px  black solid;
  }
  
  .work-intro p{
    color: black;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 200%;
  }
  .test p{
    color:black;
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 200%;
    margin-top: 40px;
  }
  .active_page{
    text-decoration:underline;
  }
  .clarks{
    padding-left: 200px;
    padding-right: 200px;
  }
  .clarks strong{
  color:#870E0E;
  }
  .clarks h2{
    color: #870E0E;
  }
  .clarks img{
    width: 100%;
    height: 100%;
  }
  .clark-user img{
  width: 50%;
  height: 50%;
  }
  
  .clark-logo{
    width: 35%;
    height: 35%;
  
    margin: 0 auto;
  }
  .circles{
    padding-left: 200px;
    padding-right: 200px;
  }
   .circles img{
    width:95%;
    height: 95%;
   }
  .circles strong{
    color: #572AB8
  }
  .circles video{
    width:80%;
    height: 80%;
  }
  .two-column{
    display: flex;
    justify-content: center;
  }
  .column1{
    width: 50%;
    padding-right: 50px;
  }
  
  .column2{
    width:50%;
    padding-left: 50px;
  }
  
  .three-column{
    display: flex;
    justify-content: center;
  }
  
  .columns1{
    width:33%;
    padding-right: 32px;
  }
  
  .columns2{
    width:33%;
    padding-left: 32px;
  }
  .columns3{
    width:33%;
    padding-left: 32px;
  }
  .prototyping{
  display: flex;
  }
  
  .grow-give{
    padding-left: 200px;
    padding-right: 200px;
  }
  .grow-give img{
  width: 95%;
  height: 95%;
  }
  .grow-give h2{
    color: #43774C;
    padding-bottom: 0px;
    font-family: 'Montserrat';
  }
  .grow-give h3{
    color:#88B78F;
    font-family: 'Montserrat';
    padding: 10px;
  }
  .grow-give p{
    font-family: 'Montserrat';
    font-size: 20px;
  }
  .grow-give strong{
    color: #43774C;
  }
  .grow-give video{
    width:80%;
    height: 80%;
  }
  .grow-medium img{
  width: 70%;
  height:55%;
  }
  .grow-medium2 img{
    width:60%;
    height: 60%;
  }
  /* .grow-medium h3{
    color: #43774C;
  }
  .grow-medium2 h3{
    color:#43774C;
  } */
  .circles h2{
    color: #572AB8;
    padding-bottom: 12px;
  }
  
  .circles h3{
    color:#727272;
  }
  .qa{
    padding-left: 200px;
    padding-right: 200px;
  }
  
  .qa img{
    width:90%;
    height: 90%;
    align-items: center;
  }
  .qa-user-research img{
  width: 60%;
  height: 60%;
  }
  .qa-key-takeaways{
  width: 50%;
  height: 50%;
  align-items: center;
  margin: 0 auto;
  }
  .qa h2{
    color:#224C96;
  }
  .qa h3{
    color:#D4AF37;
  }
  .qa strong{
    color:#224C96;
  }
  
  
  
  
  @media (min-width: 700px){
  
    .work-intro h1{
      text-align: left;
      text-decoration: none;
      margin-left: 200px;
      margin-bottom: 20px;
      font-size: 450%;
  
  
    }
    .work-intro p{
      color: black;
      text-align: left;
      margin-left: 500px;
      margin-right: 100px;
      font-size: 200%;
    }
  
    .projects{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin-left: 20px;
    }
  
  
    .project1{
      padding-bottom: 20px;
      height: 15%;
      width: 80%;
      margin: 30px;
    }
  
  
  
    .project2{
      padding-bottom: 20px;
      height: 15%;
      width: 80%;
      margin: 30px;
    }
  
    .project3{
      padding-bottom: 20px;
      height: 5%;
      width: 80%;
      margin: 30px;
    }
  
    .project4{
      padding-bottom: 20px;
      height: 15%;
      width: 80%;
      margin: 30px;
    }
  
    .project3 img{
      width: 28%;
      height: 28%;
    }
  
    .project4 img{
      width: 37%;
      height: 37%;
    }
  .project-row2{
    width:50%;
    height: 20%;
  }
    .projectlink{
     padding-right: 20px;
     padding-top: 20px;
    }
  
  
  .about img{
    width: 70%;
    height: 40%;
  }
  
  
    .about{
      display: flex;
      flex-direction: row;
      padding: 20px;
  
    }
  
  
  
  
  .mobile-desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  
  .img1 {
    width: 23%;
    height: 25%;
  
  }
  
  .img2 {
    width: 23%;
    height: 10%;
  
  }
  
  
  
  .sketches{
    justify-content: center;
  
  }
  
  .sketch1{
    width:25%;
    height:25%;
    padding: 5px;
  }
  
  .sketch2{
    width:25%;
    height:25%;
    padding: 5px;
  }
  
  .sketch3{
    width:25%;
    height:25%;
    padding: 5px;
  }
  
  .sketch4{
    width:25%;
    height:25%;
    padding: 5px;
  }
  
  .card-sorting img{
    width: 65%;
    height: 65%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  }
  
  
  .mylinks img{
    height: 4%;
    width: 4%;
  }
  
  
  .about-me{
    width: 50%;
    padding: 40px;
  
  }
  
  .project-hgihlight{
    width: 50%;
    padding: 40px;
  }
  
  .long p{
    padding-left: 40px;
    padding-right: 40px;
      margin-left: 100px;
    margin-right: 100px;
  }
  .long ul{
    padding-left: 40px;
    padding-right: 40px;
      margin-left: 100px;
    margin-right: 100px;
  }
  
  .long ol{
    padding-left: 40px;
    padding-right: 40px;
      margin-left: 100px;
    margin-right: 100px;
  }
   .aboutimg{
     width:30%;
   }
  
  .about-writing{
    width: 70%;
  }
  }
  